body,h1,h2,h3,h4,h5,h6,ul,li,p,span{
	margin:0 auto;
	padding:0 auto;
}
img{
	display:block;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.sy1{
	width:1240px;
	
	margin: 0 auto;
	position:relative;
}
.sy1 img{
	padding:13px 0 17px 23px;
}
.sy1 input{
	position:absolute;
	top:17px;
	right:153px;
	border-radius: 11px/12px;
	outline: none;
	color:#999999;
	border:1px solid #333333;
}
.sy1 p{
	position:absolute;
	height:13px;
	width:13px;
	background:url(../img/s8.png);
	top:20px;
	right:162px;
}
.sy1 span{
	position:absolute;
	top:18px;
	right:23px;
	color:#323232;
	font-size: 18px;
}
.sy1 span a{
	color:#323232;
}
.sy1 ul{
	float:right;
	position:absolute;
	
	top:69px;
	right:0px;
}
.sy1 ul li{
	float: left;
	margin-right:57px;
	
}
.sy1 ul li a{
	
	color:#333333;
}
.sy1 ul li:nth-of-type(6){
	margin-right:23px;
}
.sy1 ul li:hover a{
	padding-bottom:8px;
	border-bottom:2px solid #830a13;
}
.ban{
	width:100%;
}
.ban .bann{
	margin:0 auto;
}
.ban .bann img{
	width:100%;
	text-align: center;
}
.ba{
	padding-bottom:728px;
}
.jj{
	width:1240px;
	margin:0 auto;
	position:relative;
}
.jj h2{
	top:28px;
	position:absolute;
	right:23px;
	font-size:14px;
	font-weight:100;
	color:#333;
}
.jj h2 a{
	color:#820b11;
}
.jj p:nth-of-type(1){
	position:absolute;
	top:49px;
	right:23px;
	width:1170px;
	height:1px;
	background:#666;
}
.jj p:nth-of-type(2){
	position:absolute;
	top:50px;
	left:47px;
	width:1px;
	height:19px;
	background:#666;
}
.jj p:nth-of-type(3){
	position:absolute;
	top:83px;
	left:47px;
	width:1px;
	height:8px;
	background:#666;
}
.jj p:nth-of-type(4){
	position:absolute;
	top:87px;
	left:48px;
	width:114px;
	height:1px;
	background:#666;
}
.jj p:nth-of-type(5){
	position:absolute;
	top:68px;
	left:162px;
	width:1px;
	height:20px;
	background:#666;
}
.jj p:nth-of-type(6){
	position:absolute;
	top:100px;
	left:47px;
	width:1px;
	height:14px;
	background:#666;
}
.jj p:nth-of-type(7){
	position:absolute;
	top:129px;
	left:47px;
	width:1px;
	height:15px;
	background:#666;
}
.jj p:nth-of-type(8){
	position:absolute;
	top:121px;
	left:151px;
	width:10px;
	height:1px;
	background:#666;
}
.jj .df{
	width:9px;
	height:9px;
	background:url(../img/2.png);
	position:absolute;
	top:117px;
	left:43px;
}
.jj h3{
	font-size:24px;
	font-weight: 100;
	color:#333;
	position:absolute;
	top:53px;
	left:79px;
}
.jj h4{
	font-size:19px;
	font-weight: 100;
	color:#840810;
	position:absolute;
	top:110px;
	left:57px;
}
.jj h5{
	font-size:19px;
	font-weight: 100;
	color:#323232;
	position:absolute;
	top:85px;
	left:235px;
}
.jj h5 .sp{
	font-size:14px;
	color:#666;
}
.jj p:nth-of-type(9){
	position:absolute;
	top:112px;
	left:235px;
	width:216px;
	height:1px;
	background:#b13537;
}
.jj ul{
	position:absolute;
	left:195px;
	top:116px;
	width:976px;
}
.jj ul li{
	font-size:14px;
	color:#666;
	line-height: 22px;
	margin-top:12px;
	margin-bottom:12px;
}
.jj img:nth-of-type(1){
	position:absolute;
	left:235px;
	top:480px;
}
.jj img:nth-of-type(2){
	position:absolute;
	left:759px;
	top:480px;
}
.footer{
	background: #666;
}
.footer div{
	width:1240px;
	height:92px;
}
.footer div h3{
	text-align: center;
	font-weight:100;
	font-size:14px;
	color:#fff;
	line-height: 92px;
}